<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./css/style.css">
        <title>To-do-list</title>
    </head>
    <body>
        <div class="container" id="app">
            <h1>La mia To-Do-List:</h1>
            <ul class="unstyled">
                <li v-for="(elem, index) in todolist" v-bind:class="(todolist[index].done === true) ? 'checked' : ''">
                    {{index + 1}} - {{todolist[index].text}} 
                    <div>
                        <button @click="taskFatta(index)"><i class="fa-solid fa-check"></i></button>  <button @click="eliminaTask(index)"><i class="fa-solid fa-xmark"></i></button></li>
                    </div>
                        
            </ul>
            <input type="text" placeholder="Aggiungi task" v-model="newTask" @keyup.enter="aggiungiTask">
            <button @click="aggiungiTask">Aggiungi</button>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="./Js/script.js"></script>
    </body>
</html>